In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df=pd.read_csv(r"/content/drive/MyDrive/Gen_AI_Mlops_task-1/reviews_data_dump/reviews_badminton/data.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8518 entries, 0 to 8517
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Reviewer Name    8508 non-null   object
 1   Review Title     8508 non-null   object
 2   Place of Review  8468 non-null   object
 3   Up Votes         8508 non-null   float64
 4   Down Votes       8508 non-null   float64
 5   Month            8053 non-null   object
 6   Review text      8510 non-null   object
 7   Ratings          8518 non-null   int64
dtypes: float64(2), int64(1), object(5)
memory usage: 532.5+ KB

In [ ]:
df.head()

,Reviewer Name,Review Title,Place of Review,Up Votes,Down Votes,Month,Review text,Ratings
0,Kamal Suresh,Nice product,"Certified Buyer, Chirakkal",889.0,64.0,Feb 2021,"Nice product, good quality, but price is now r...",4
1,Flipkart Customer,Don't waste your money,"Certified Buyer, Hyderabad",109.0,6.0,Feb 2021,They didn't supplied Yonex Mavis 350. Outside ...,1
2,A. S. Raja Srinivasan,Did not meet expectations,"Certified Buyer, Dharmapuri",42.0,3.0,Apr 2021,Worst product. Damaged shuttlecocks packed in ...,1
3,Suresh Narayanasamy,Fair,"Certified Buyer, Chennai",25.0,1.0,NaN,"Quite O. K. , but nowadays the quality of the...",3
4,ASHIK P A,Over priced,NaN,147.0,24.0,Apr 2016,Over pricedJust â?¹620 ..from retailer.I didn'...,1

In [ ]:
df1=df[["Review text","Ratings"]]
print(df1.shape)

(8518, 2)

In [ ]:
df1.head()

                                         Review text  Ratings
0  Nice product, good quality, but price is now r...        4
1  They didn't supplied Yonex Mavis 350. Outside ...        1
2  Worst product. Damaged shuttlecocks packed in ...        1
3  Quite O. K. , but nowadays  the quality of the...        3
4  Over pricedJust â?¹620 ..from retailer.I didn'...        1

In [ ]:
df1.isnull().sum()

Review text    8
Ratings        0
dtype: int64

In [ ]:
df1.dropna(inplace=True)

/tmp/ipython-input-3614008390.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.dropna(inplace=True)

In [ ]:
df1.duplicated().sum()

np.int64(3269)

In [ ]:
df1.drop_duplicates(inplace=True)

/tmp/ipython-input-4156330626.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.drop_duplicates(inplace=True)

In [ ]:
df1.shape

(5241, 2)

In [ ]:
def suggest(ratings):
  if ratings >=3:
    return "Positive"
  else:
    return "Negative"

In [ ]:
df1["type"]=df1["Ratings"].apply(suggest)

/tmp/ipython-input-1769313800.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["type"]=df1["Ratings"].apply(suggest)

In [ ]:
df1

                                            Review text  Ratings      type
0     Nice product, good quality, but price is now r...        4  Positive
1     They didn't supplied Yonex Mavis 350. Outside ...        1  Negative
2     Worst product. Damaged shuttlecocks packed in ...        1  Negative
3     Quite O. K. , but nowadays  the quality of the...        3  Positive
4     Over pricedJust â?¹620 ..from retailer.I didn'...        1  Negative
...                                                 ...      ...       ...
8505  Delivered before time but price is high from m...        3  Positive
8506  up to the mark but same is available in market...        4  Positive
8507                       Nice delivery speedREAD MORE        5  Positive
8508  No complaints about the item . Its the best on...        5  Positive
8509  Not sure why we have charged for this product ...        1  Negative

[5241 rows x 3 columns]

In [ ]:
import nltk
import re
nltk.download("punkt_tab") # stopwords
nltk.download("punkt")
nltk.download("stopwords")
nltk.download("wordnet")
from nltk.corpus import  stopwords
from nltk.stem import WordNetLemmatizer

[nltk_data] Downloading package punkt_tab to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt_tab.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...

In [ ]:
def clean(doc):
  #doc is a string of text
  # let's define a regex to match special chars and digits
  regex ="[^a-zA-Z.]"
  doc=re.sub(regex," ",doc)
  # Convert to lowercase
  doc=doc.lower()
  #Tokenization
  tokens=nltk.word_tokenize(doc)
  #Stop word Removal
  stop_words=set(stopwords.words('english'))
  filtere_tokens=[word for word in tokens if word not in stop_words]
  #Lemmatize
  lemmatizer=WordNetLemmatizer()
  lemmatized_tokens=[lemmatizer.lemmatize(word) for word in filtere_tokens]
  #join and return
  return " ".join(lemmatized_tokens)

In [ ]:
df1["new_review"]=df1["Review text"].apply(lambda x:clean(x))

/tmp/ipython-input-3728845545.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["new_review"]=df1["Review text"].apply(lambda x:clean(x))

In [ ]:
df1.drop(["Review text","Ratings"],axis=1,inplace=True)

/tmp/ipython-input-2898998186.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.drop(["Review text","Ratings"],axis=1,inplace=True)

In [ ]:
df1.head()

       type                                         new_review
0  Positive  nice product good quality price rising bad sig...
1  Negative  supplied yonex mavis . outside cover yonex ad ...
2  Negative  worst product . damaged shuttlecock packed new...
3  Positive  quite o. k. nowadays quality cork like year ba...
4  Negative  pricedjust .. retailer.i understand .. wat adv...

In [ ]:
X=df1["new_review"]
y=df1["type"]
print(y.value_counts())

type
Positive    4292
Negative     949
Name: count, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,stratify=y,random_state=42)

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
cv=TfidfVectorizer(ngram_range=(1,2),
    max_df=0.9,
    min_df=5,
    max_features=5000,
    stop_words="english",
    sublinear_tf=True)
X_train_trans=cv.fit_transform(X_train)
X_test_trans=cv.transform(X_test)

In [ ]:
print(X_train_trans.shape)

(4192, 816)

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import f1_score

In [ ]:
from sklearn.naive_bayes import GaussianNB
pipe = Pipeline(steps=[
    ("model", GaussianNB())
])

para={
    "model__var_smoothing":[
        1e-13,1e-12, 1e-11, 1e-10, 1e-9, 1e-8, 1e-7, 1e-6, 1e-5, 1e-4,
        1e-3, 1e-2, 1e-1, 1.0, 1.2, 1.4, 1.6, 1.8, 2.0, 2.4, 2.6, 2.8, 3.0, 3.2, 3.4
    ]
}

grid=GridSearchCV(estimator=pipe, param_grid=para, cv=5, scoring="f1_weighted", n_jobs=-1)
# Convert sparse matrices to dense arrays for GaussianNB
grid.fit(X_train_trans.toarray(), y_train)

print(f"Best metrics : {grid.best_params_}")
print(f"cv accuracy : {grid.best_score_}")
print(f"Train : {f1_score(y_train, grid.predict(X_train_trans.toarray()), pos_label='Positive')}")
print(f"Test : {f1_score(y_test, grid.predict(X_test_trans.toarray()), pos_label='Positive')}")

Best metrics : {'model__var_smoothing': 1.0}
cv accuracy : 0.8604500103805265
Train : 0.930970942593905
Test : 0.9315223542727787

In [ ]:
from sklearn.naive_bayes import BernoulliNB
pipe = Pipeline(steps=[
    ("model", BernoulliNB())
])

para={"model__alpha":[1e-8,1e-7,1e-6,1e-5,1e-4]
}
grid=GridSearchCV(estimator=pipe,param_grid=para,cv=5,scoring="f1_weighted",n_jobs=-1)
grid.fit(X_train_trans,y_train)
print(f"Best metrics : {grid.best_params_}")
print(f"cv accuracy : {grid.best_score_}")
print(f"Train : {f1_score(y_train, grid.predict(X_train_trans), pos_label='Positive')}")
print(f"Test : {f1_score(y_test, grid.predict(X_test_trans), pos_label='Positive')}")

Best metrics : {'model__alpha': 0.0001}
cv accuracy : 0.8604454639348129
Train : 0.9387989107066074
Test : 0.9334862385321101

In [ ]:
from sklearn.naive_bayes import ComplementNB

pipe = Pipeline(steps=[
      # Add a scaler to handle negative values
    ("model", ComplementNB())
])

para={"model__alpha":[1e-5,1e-4,1e-3,1e-2,1.01,1.0,10,11,12,13,14,16]
}
grid=GridSearchCV(estimator=pipe,param_grid=para,cv=5,scoring="f1_weighted",n_jobs=-1)
grid.fit(X_train_trans,y_train)
print(f"Best metrics : {grid.best_params_}")
print(f"cv accuracy : {grid.best_score_}")
print(f"Train : {f1_score(y_train, grid.predict(X_train_trans), pos_label='Positive')}")
print(f"Test : {f1_score(y_test, grid.predict(X_test_trans), pos_label='Positive')}")

Best metrics : {'model__alpha': 12}
cv accuracy : 0.8398170962889054
Train : 0.9042727408069079
Test : 0.8963051251489869

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV

pipe_dt = Pipeline([
    ("model", DecisionTreeClassifier(random_state=42))
])

param_dt = {
    "model__max_depth": [ 5, 10, 30,35,40,45],
    "model__min_samples_split": [2, 5, 10],
    "model__min_samples_leaf": [1, 2, 5],
    "model__criterion": ["gini", "entropy"]
}

grid_dt = GridSearchCV(
    pipe_dt,
    param_dt,
    cv=5,
    scoring="f1_weighted",
    n_jobs=-1
)

grid_dt.fit(X_train_trans, y_train)
print(f"Best metrics : {grid_dt.best_params_}")
print(f"cv accuracy : {grid_dt.best_score_}")
print(f"Train : {f1_score(y_train, grid_dt.predict(X_train_trans), pos_label='Positive')}")
print(f"Test : {f1_score(y_test, grid_dt.predict(X_test_trans), pos_label='Positive')}")

Best metrics : {'model__criterion': 'gini', 'model__max_depth': 35, 'model__min_samples_leaf': 1, 'model__min_samples_split': 10}
cv accuracy : 0.8493483386516669
Train : 0.959114139693356
Test : 0.9144811858608894

In [ ]:
from sklearn.svm import LinearSVC
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV

pipe_lsvm = Pipeline([("tfidf",TfidfVectorizer(ngram_range=(1,2),
    max_df=0.9,
    min_df=5,
    max_features=5000,
    stop_words="english",
    sublinear_tf=True)),
    ("model", LinearSVC())

])

param_lsvm = {
    "model__C": [0.01, 0.1, 1, 10]
}

grid_lsvm = GridSearchCV(
    pipe_lsvm,
    param_lsvm,
    cv=5,
    scoring="f1_weighted",
    n_jobs=-1
)

grid_lsvm.fit(X_train, y_train)
print(f"Best metrics : {grid_lsvm.best_params_}")
print(f"cv accuracy : {grid_lsvm.best_score_}")
print(f"Train : {f1_score(y_train, grid_lsvm.predict(X_train), pos_label='Positive')}")
print(f"Test : {f1_score(y_test, grid_lsvm.predict(X_test), pos_label='Positive')}")

Best metrics : {'model__C': 1}
cv accuracy : 0.8627572295587825
Train : 0.9496890898812889
Test : 0.9330306469920545

In [ ]:
import pickle

with open("flipkart_lvsm.pkl","wb") as f:
  pickle.dump(grid_lsvm, f)

In [ ]:
from sklearn.linear_model import LogisticRegression

pipe_lr = Pipeline([
    ("model", LogisticRegression(max_iter=100))
])

param_lr = {
    "model__penalty": ["l2"],
    "model__C": [0.01, 0.1, 1, 10, 100],
    "model__solver": ["lbfgs"]
}

grid_lr = GridSearchCV(
    pipe_lr,
    param_lr,
    cv=5,
    scoring="f1_weighted",
    n_jobs=-1
)

grid_lr.fit(X_train_trans, y_train)
print(f"Best metrics : {grid_lr.best_params_}")
print(f"cv accuracy : {grid_lr.best_score_}")
print(f"Train : {f1_score(y_train, grid_lr.predict(X_train_trans), pos_label='Positive')}")
print(f"Test : {f1_score(y_test, grid_lr.predict(X_test_trans), pos_label='Positive')}")

Best metrics : {'model__C': 10, 'model__penalty': 'l2', 'model__solver': 'lbfgs'}
cv accuracy : 0.8629189458800545
Train : 0.9503886925795053
Test : 0.9332579185520362

In [ ]:
from sklearn.svm import SVC

pipe_svm = Pipeline([
    ("model", SVC())
])

param_svm = [
    {
        "model__kernel": ["linear"],
        "model__C": [0.1, 1, 10]
    },
    {
        "model__kernel": ["rbf"],
        "model__C": [0.1, 1, 10],
        "model__gamma": ["scale", 0.01, 0.1, 1]
    }
]

grid_svm = GridSearchCV(
    pipe_svm,
    param_svm,
    cv=5,
    scoring="f1_weighted",
    n_jobs=-1
)

grid_svm.fit(X_train_trans, y_train)
print(f"Best metrics : {grid_svm.best_params_}")
print(f"cv accuracy : {grid_svm.best_score_}")
print(f"Train : {f1_score(y_train, grid_svm.predict(X_train_trans), pos_label='Positive')}")
print(f"Test : {f1_score(y_test, grid_svm.predict(X_test_trans), pos_label='Positive')}")

Best metrics : {'model__C': 10, 'model__gamma': 0.1, 'model__kernel': 'rbf'}
cv accuracy : 0.8631480124624821
Train : 0.9490616621983914
Test : 0.937394247038917

In [ ]:
from sklearn.ensemble import RandomForestClassifier

pipe_rf = Pipeline([
    ("model", RandomForestClassifier(random_state=42))
])

param_rf = {
    "model__n_estimators": [100, 200, 300],
    "model__max_depth": [10, 20],
    "model__min_samples_split": [2, 5],
    "model__min_samples_leaf": [1, 2],
    "model__max_features": ["sqrt", "log2"]
}

grid_rf = GridSearchCV(
    pipe_rf,
    param_rf,
    cv=5,
    scoring="f1_weighted",
    n_jobs=-1
)

grid_rf.fit(X_train_trans, y_train)
print(f"Best metrics : {grid_rf.best_params_}")
print(f"cv accuracy : {grid_rf.best_score_}")
print(f"Train : {f1_score(y_train, grid_rf.predict(X_train_trans), pos_label='Positive')}")
print(f"Test : {f1_score(y_test, grid_rf.predict(X_test_trans), pos_label='Positive')}")

Best metrics : {'model__max_depth': 20, 'model__max_features': 'sqrt', 'model__min_samples_leaf': 1, 'model__min_samples_split': 5, 'model__n_estimators': 200}
cv accuracy : 0.8297057163424026
Train : 0.9336059986366735
Test : 0.9239956568946797